.image {
    height: 30vh;
    width: 40vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20vh;
    color: #183b56;
}

.heading {
    font-family: "Bree Serif";
    text-align: center;
}

.page {
    margin: 20vh;
}

.paragraph {
    font-size: 12px;
    font-family: "Bree Serif";
    color: #616e7c;
}

.advanced-technologies-img {
    height: 15vh;
    width: 25vh;
}

.card {
    margin: 10vh;
}

.diwali-img {
    height: 15vh;
    width: 25vh;
}

.rderfoodimg {
    height: 15vh;
    width: 25vh;
}

.news-paper-img {
    height: 15vh;
    width: 25vh;
}